<div class="c-login_container animated fadeIn">
  {{ uploadPercent | json }}
  {{ downloadURL | json }}
  <form novalidate class="c-form" [formGroup]="formaRegistrer">
    <div class="c-form-item">
      <div class="c-form-img">
        <img [src]="logo" alt="" />
      </div>
      <div class="c-form_group file">
        <label class="c-form_group-label_file" for="photo">Change Image</label>
        <input
          id="photo"
          type="file"
          name="photo"
          (change)="upload($event)"
          accept="image/*"
          class="c-form_group-inputFile"
          formControlName="photo"
        />
      </div>
    </div>
    <div class="c-form-item">
      <div class="c-form_group">
        <label class="c-form_group-label">Nickname</label>
        <input
          type="text"
          name="nickname"
          class="c-form_group-inputText"
          formControlName="nickname"
        />
      </div>
    </div>
    <div class="c-form-item">
      <div class="c-form_group">
        <label class="c-form_group-label">Email</label>
        <input
          type="email"
          name="email"
          class="c-form_group-inputText"
          formControlName="email"
        />
      </div>
    </div>
    <div class="c-form-item">
      <div class="c-form_group">
        <label class="c-form_group-label">Password</label>
        <input
          type="password"
          name="password"
          class="c-form_group-inputText"
          formControlName="password"
        />
      </div>
    </div>
    <div class="c-form-item">
      <div class="c-form_group">
        <label class="c-form_group-label">confirm your password</label>
        <input
          type="password"
          name="password"
          class="c-form_group-inputText"
          formControlName="confirm"
        />
      </div>
    </div>
    <div class="c-form-item">
      <div class="c-form_group">
        <button type="submit" class="c-form_group-button">registrer</button>
      </div>
    </div>
  </form>
</div>
