.c-login {
  &_container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.c-form {
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
    }
  }
  &_group {
    display: grid;
    grid-template: 2rem 2rem / 1fr;
    padding: 10px;
    width: 250px;
    &.file {
      grid-template: 2rem / 1fr;
    }
    &-label_file {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 2rem;
      background: var(--color-primary_contrast);
      border: 1px solid var(--color-primary_complementary);
      color: var(--color-primary);
      transition: background 0.5s ease;
      cursor: pointer;
      &:hover {
        color: var(--color-primary_contrast);
        background: var(--color-outline);
      }
    }
    &-inputFile {
      display: none;
    }
    &-inputText {
      border-radius: 5px;
      padding: 0 5px;
    }
    &-button {
      width: 100%;
      height: 2rem;
      background: var(--color-primary_contrast);
      border: 1px solid var(--color-primary_complementary);
      color: var(--color-primary);
      outline-color: var(--color-outline);
      transition: background 0.5s ease;
      cursor: pointer;
      &:hover {
        color: var(--color-primary_contrast);
        background: var(--color-outline);
      }
    }
  }
}
