.o-header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / 3rem 1fr 0.25fr;
  grid-gap: 5px;
  padding: 5px 5px 5px 20px;
  background-color: var(--color-primary);
  .logo {
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.c-btn {
  &_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_primary {
    width: 100px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: transparent;
    border: 1px solid var(--color-primary_complementary);
    box-shadow: inset 0px 0px var(--color-primary_complementary);
    color: var(--color-primary_contrast);
    outline-color: var(--color-primary_contrast);
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    &.active {
      box-shadow: inset -250px 0px var(--color-primary_complementary);
    }
    &:hover {
      box-shadow: inset -250px 0px var(--color-primary_complementary);
    }
  }
}


