<header class="o-header">
  <div class="logo">
    <img src="./assets/images/logo_header.svg" alt="" />
  </div>
  <aptx-navbar></aptx-navbar>
  <div class="c-btn_container">
    <a
      class="c-btn_primary"
      [routerLink]="['login']"
      *ngIf="!(isLoggedIn$ | async) as isLoggedIn"
      routerLinkActive="active"
      >Login</a
    >
    <a
      class="c-btn_primary"
      routerLinkActive="active"
      *ngIf="isLoggedIn$ | async as isLoggedIn"
      (click)="logOut()"
      >Logout</a
    >
    <a
      class="c-btn_primary"
      [routerLink]="['registrer']"
      routerLinkActive="active"
      >Registrer</a
    >
  </div>
</header>
