// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  // primary color
  --color-primary: #4b4b4b;
  --color-primary_contrast: #fff;
  --color-primary_complementary: #898787;
  --color-outline: #b12626;
}
