<nav class="main-nav">
    <div *ngFor="let item of dataMenu" class="main-nav_item">
      <a [routerLink]="[item.link]" routerLinkActive="router-link-active" > {{ item.name }} </a>
    </div>
</nav>
