.main-nav{
  height: 100%;
  display: grid;
  grid-template: 2rem / repeat(auto-fill, minmax(100px, 130px));
  padding: 5px;
  justify-content: center;
  align-content: center;
  grid-gap: 5px;
  &_item{
    border:1px solid var(--color-primary_complementary);
    box-shadow: inset 0px 0px var(--color-primary_complementary);
    transition: box-shadow .25s ease;
    cursor: pointer;
    &.active{
      box-shadow: inset -250px 0px var(--color-primary_complementary);
    }
    &:hover{
      box-shadow: inset -250px 0px var(--color-primary_complementary);
    }
    a{
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: var(--color-primary_contrast);
      text-decoration: none;
    }
  }
}
