.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template: 4rem 1fr 4rem / 1fr;
}
.hidden {
  animation: fadeOut .5s forwards;

}
.show {
  animation: fadeIn .5s forwards;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 391px;
  width: 100%;
  max-height: 250px;
  background: white;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 10px;
  z-index: 13;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
