<div class="container">
  <aptx-header></aptx-header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <aptx-footer></aptx-footer>
</div>

<div id="modal-container" class="hidden" style="display:none"></div>
<div id="overlay" (click)="removeModal()" class="hidden" style="display:none"></div>
