<div class="c-login_container animated fadeIn">
  <div class="c-login_logo">
    <img [src]="logo" alt="" />
  </div>
  <form novalidate class="c-form" [formGroup]="forma" (ngSubmit)="logIn()">
    <div class="c-form_group">
      <label class="c-form_group-label">Email</label>
      <input
        type="text"
        name="email"
        class="c-form_group-inputText"
        formControlName="email"
      />
    </div>
    <div class="c-form_group">
      <label class="c-form_group-label">Password</label>
      <input
        type="password"
        name="password"
        class="c-form_group-inputText"
        formControlName="password"
      />
    </div>
    <div class="c-form_group">
      <button type="submit" class="c-form_group-button">Login</button>
    </div>
  </form>
</div>
