.sample-container{
  display: grid;
  height: 100%;
  grid-template: 1fr 4rem / 1fr;
  padding: 5px;
}
.sample-text{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  text-align:center;
}
.sample-close{
  text-align:center;
}
.sample-close button{
  width: 100px;
  max-height: 40px;
  height: 100%;
  color: var(--color-primary);
}
