.o-footer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--color-primary);
  p{
    color: var(--color-primary_contrast)
  }
}
